body
{


    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color:black;


}

.bg-rodape
{
    background-color: ##0299ec;
    border-radius:5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.row
{
    background-color: #f7f7f7;
    border-radius:5%;

}

.iN
{
	margin:0;
	margin-bottom:10px;
	text-transform:capitalize;
	text-align:justfy;
}
